@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
:root {
  --bg-light: #f8f6e9;
  --border-color: #ccc;
  --black-color: #000000;
  --content-color: #ececdc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: "Montserrat";
}
html {
  min-height: 100%;
}
body {
  width: 40vw;
  min-height: 100%;
  margin: 0 auto;
  padding: 90px 0 0 0;
  background-color: var(--bg-light);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #ececdd00;
  padding: 0;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
span {
  color: #3a3a3a;
  font-weight: 300;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  body {
    min-width: 100%;
    padding-top: 100px;
  }
}
